<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'index/css/main-mob.css' %}" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Sign up or Login</title>
</head>

<body>
    
    <div class="container" id="container">
        <div id="sign-up" class="form-container sign-up-container overlay-container">
            <form action="/signup" method="POST">

                {% csrf_token %}

                {% if error %}
                <span style="color: red;">{{ error }}</span>
                {% endif %}

                {% if password %}
                <ul style="color:red; display: block;">
                    <b>Password too weak! </b>
                    <li style="margin: 0px; font-size: smaller; text-align: left;">Must have: Upper case and lower case letters</li>
                    <li style="margin: 0px; font-size: smaller; text-align: left;">Must have: %#$@@</li>
                    <li style="margin: 0px; font-size: smaller; text-align: left;">Must have: 123451</li>
                    <li style="margin: 0px; font-size: smaller; text-align: left;">Must have: 8 characters or more</li>
                </ul>
                {% endif %}

                <h1>Create Account</h1>
                <div class="social-container">
                    <!-- <a href="/fb_auth?type=login&id=sometoken" class="social"><i class="fab fa-facebook-f"></i></a> -->
                    <a href="/google/signup" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <!-- <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
                </div>
                <span>or use your email for registration</span>
                <input type="text" placeholder="Name" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <button id="submit-signUp">Sign Up</button><br />
                <button class="ghost" id="signIn">Sign In</button>
            </form>
        </div>
        <div id="sign-in" class="form-container sign-in-container">
            <form action="/login" method="POST">
                {% csrf_token %}

                {% if error %}
                <span style="color: red;">{{ error }}</span>
                {% endif %}

                {% if password %}
                <ul style="color:red; display: block;">
                    <b>Password too weak! </b> 
                    <li style="margin: 0px; font-size: smaller; text-align: left;">Must have: Upper case and lower case letters</li>
                    <li style="margin: 0px; font-size: smaller; text-align: left;">Must have: %#$@@</li>
                    <li style="margin: 0px; font-size: smaller; text-align: left;">Must have: 123451</li>
                    <li style="margin: 0px; font-size: smaller; text-align: left;">Must have: 8 characters or more</li>
                </ul>
                {% endif %}

                <h1>Sign in</h1>
                <div class="social-container">
                    <!-- <a href="/fb_auth?type=login&id=sometoken" class="social"><i class="fab fa-facebook-f"></i></a> -->
                    <a href="/google/signup" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <!-- <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
                </div>
                <span>or use your account</span>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <a href="#">Forgot your password?</a>
                <button id="submit-signIn">Sign In</button><br />
                <button class="ghost" id="signUp">Sign Up</button>
            </form>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
<script src="{% static 'index/js/main-mob.js' %}" type="text/javascript" charset="utf-8"></script>

</html>