<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login With FB</title>
</head>
<body>
   
</body>
    
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '2174861422716987',
            autoLogAppEvents: true,
            xfbml: true,
            version: 'v15.0'
        });
    };
</script>
<script async  crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk/debug.js" ></script>
<script src="{% static 'fb/js/main.js' %}" type="text/javascript"></script>
</html>